.pagination-container {
    display: flex;
    justify-content: center;
    gap: .5rem;
    margin-top: 1rem;

    .pagination-button {
        padding: .5rem 1rem;
        border: 1px solid #ccc;
        cursor:pointer;
        transition: all .3s;

        &:hover {
            background-color:  #f0f0f0;
        }
    }
    
}


