.order-item {
    display: flex;
    gap: .5rem;
    align-items: center;

    &:not(:last-child) {
        border-bottom: 1px solid rgba(85, 20, 20, 0.3);
    }

    .item-image img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        object-fit: cover;
    }

    .item-info {
        font-weight: 500;
    }

    .item-actions {
        color:#333;
    }
}