.main-container {
    display: flex;
    flex-direction: column;
}

.login-container {
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: hidden;
    background: linear-gradient(315deg, rgb(21, 88, 244) 3%, rgba(60, 132, 206, 1) 38%, rgb(115, 48, 238) 68%, rgb(243, 25, 255) 98%);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
    position: relative;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1300% 1300% 0 0;
    position: absolute;
    width: 300%;
    height: calc(40vh);
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
}

.wave:nth-of-type(2) {
    height: calc(40vh + 1.25em);
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    height: calc(40vh + 2.5em);
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.login-form {
    z-index: 1;
    padding: 1rem;
    background-color: rgb(23, 23, 23);
    color: white;
    border-radius: 0.5rem;
    border: 1px solid #333;
    max-width: 400px;
    box-shadow: 1px 1px 7px #27272791;
    ;

    h1 {
        text-align: center;
        margin-bottom: 1rem;
        border-bottom: 1px solid royalblue;
        padding-bottom: .5rem;
        /* line-height: 1.5; */
    }
}



.login-form input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
}

.login-form button {
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px solid #333;
    background-color: royalblue;
    color: white;
}