/* Contenedor de todas las tarjetas */



  
  /* Tarjeta de producto */
  .product-card {
    background-image: linear-gradient(to bottom, rgb(183, 183, 182), rgb(253, 253, 254));
    padding: 16px;
    border-radius: 8px;
    width: calc((100vw/3) - 3rem);
    border: 1px solid transparent;
    transition: margin 0.3s, border 0.3s, box-shadow 0.3s;
  }
  
  /* Efecto hover en la tarjeta */
  .product-card:hover {
    transform: translateY(-5px); /* Eleva un poco la tarjeta */
    box-shadow: 0 6px 16px rgba(9, 82, 251, 0.656); /* Sombra más pronunciada */
  }
  
  /* Imagen del producto */
  .card-header  {
    
  }

  .product-image {
    width: 100%;
  height: 250px;
  object-fit: contain; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: transform 0.3s ease-in-out;
  }
  
  .product-card:hover .card-header img {
    
  }
  
  /* Cuerpo de la tarjeta */
  .card-body {
    padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  }
  
  /* Categoría del producto */
  .product-category {
    padding: 0.25rem 0.75rem;
  background-color: rgb(15, 145, 244);
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  border-radius:1rem 1rem;
  width: max-content;
  }
  
  /* Título del producto */
  .product-title {
    padding: 0.25rem 0.75rem;
    color: rgb(31, 109, 233);
    text-transform: uppercase;
    font-size: 1rem;
    border-radius: 0.5rem;
    width: max-content;
  }
  
  /* Descripción del producto */
  .product-description {
    text-align: center;
    word-wrap: break-word; 
    color: blue;/* Asegura que el texto largo se ajuste a la línea */
  }
  
  /* Información del producto (Precio) */
  .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .product-price {
    font-size: 1rem;
  font-weight: bold;
  color: crimson;
  }
  
  .price {
    font-size: 1.5rem;
  }
  
  /* Pie de la tarjeta */
  .card-footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    background-color: #f8f9fa;
    border-top: 1px solid #ddd;
  }
  
  /* Botones del pie */
  .product-btn {
    background-color: crimson;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  }
  
  .product-btn:hover {
    background-color: darkred;
  }
  
  /* Para íconos del botón */
  .product-btn svg {
    margin-right: 0.5rem;
  }
  
  
  @media (max-width: 768px) {
    .product-container {
      grid-template-columns: repeat(2, 1fr); /* 2 tarjetas por fila en pantallas medianas */
    }
  }
  
  @media (max-width: 480px) {
    .product-container {
       
    }
  }
  