.product-card {
    width: 100%;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    transition: box-shadow .3s;
    &:hover {
        box-shadow: 0 0 1rem rgba(220, 20, 60, 0.307);
        .card-header {
            img {
                transform: scale(1.15) rotate(2deg);
                filter: grayscale(0);
            }
        }
    }
    .card-header {
        overflow: hidden;

        img {
            width: 100%;
            height: 190px;
            object-fit: cover;
            transition: transform .3s;
            filter: grayscale(35%);
        }
    }
    .card-body {
        flex: 1;
        padding: .5rem;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        .product-category {
            width: min-content;
            padding: .125rem .5rem;
            line-height: 1;
            font-size: .75rem;
            border-radius: .5rem;
            background-color: royalblue;
            text-transform: uppercase;
        }

        .product-title {
            display: -webkit-box;
            line-clamp: 1;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1;
        }

        .product-description {
            margin-block: .5rem;
            display: -webkit-box;
            line-clamp: 4;
            overflow: hidden;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 4;
            font-style: italic;
            flex: 1;
            font-size: .875rem;
            color: rgba(255, 255, 255, 0.565);
        }

        .product-price {
            text-align: right;
            padding: 0 .5rem;
            font-size: .875rem;
            .price {
                font-weight: bold;
                font-size: 1.25rem;
                color: crimson;
            }
        }
    }

    .card-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: .5rem 0;
        gap: .5rem;
        border-top: 1px solid crimson;
        width: calc(100% - 1rem);
        margin-inline: auto;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: -1px;
            left: 0;
            width: 1px;
            height: 1px;
            background-color: crimson;
            border-radius: 50%;
            box-shadow: 0 0 .25rem 1px rgb(223, 24, 70), 0 0 .25rem 2px crimson;
            animation: blow 3s infinite alternate;
        }
        .product-btn {
            display: flex;
            gap: .25rem;
            color: white;
            background-color: crimson;
            outline: none;
            border: none;
            padding: .5rem;
            font-size: 1rem;
            border-radius: .25rem;
            a {
                color: white;
            }
        }
        
    }
}

@keyframes blow {
    0% {
        transform: scale(1);
        left: 0;
    }
    100% {
        transform: scale(1.);
        left: 100%;
        box-shadow: 0 0 .35rem 1px crimson, 0 0 .125rem 2px rgb(223, 24, 70);
    }
}

