.admin-table-row {
    
    .image {
        img {
            width: 50px;
            height: 50px;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .name {
        font-weight: 600;
        text-transform: capitalize;
        color: rgb(0, 110, 255);
    }

    .description-container {
        display: -webkit-box;
        -webkit-line-clamp: 3; /* Limita a 3 líneas */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal; /* Permite truncar varias líneas */
        position: relative;
        cursor: pointer; /* Indica que es interactivo */
      }
      
      .description-container:hover::after {
        content: attr(data-full-text); /* Muestra el texto completo */
        position: absolute;
        top: 100%; /* Debajo del texto truncado */
        left: 0;
        width: max-content;
        max-width: 300px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 0.5rem;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        white-space: normal; /* Permite que el texto se envuelva */
        z-index: 10;
        display: block;
      }
      
      .description-container:hover {
        overflow: visible; /* Asegura que el texto no se corte dentro del td */
      }
    
    /* .description {
        .description-container {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            overflow: hidden;
            -webkit-box-orient: vertical;
            color: rgb(0, 110, 255);
            max-height: none;
            height: auto;
        }
    }

    .description:hover::after {
        content: attr(data-full-text); 
        position: absolute;
        top: 100%; 
        left: 0;
        width: max-content;
        max-width: 300px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        padding: 0.5rem;
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        white-space: normal;
        z-index: 100;
      } */



    .price {
        font-weight: 600;
        color: rgb(255, 0, 0);
        font-size: 30px;
    }

    .date {
        font-size: 15px;
        text-align: center;
        padding: 0px 8px 0px 8px;
        width: 90px;
        white-space: nowrap; 
        color:#888787;
        font-weight: 600;
    }

    .category {
        font-weight: 600;
        color: rgb(0, 110, 255);
        text-align: center;
        padding: 0px 8px 0px 8px;
        width: 90px;
        white-space: nowrap; 
    }

    .actions {
        .actions-container {
            display: flex;
            gap: 0.5rem;
            .btn {
                font-size: 20px; 
                padding: 0.25rem .3rem;
                border: none;
                border-radius: 4px;
                color: white;
                cursor: pointer;
                transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
                background-color: royalblue;
                &:hover {
                    background-color: #212c70;
                    color: white;
                }
                &.btn-danger {
                    background-color: crimson;
                    padding: 0.25rem .7rem;

                    &:hover {
                        background-color: rgb(142, 11, 37);
                        color: white;
                    }
                }
            }
        }
    }
}

@media screen and (width < 900px) {
    .admin-table-row {
        overflow-x: auto;
        border-collapse: collapse;
        
    }
}

